.profile-sidebar {
    width: 414px;
    margin-left: 34px;
    margin-top: 74px;
}

.mail-zone {
    height: 257px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #f2ecec;
    border-bottom: none;
}

.mail-avt {
    display:flex;
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 58px;
    margin-bottom: 15px;
    border-radius: 100%;
}

.mail {
    padding-left: 60px;
    padding-bottom: 10px;
    font-size: 20px;
}

.menu-list {
    height: 517px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 90px;
}

.menu-list a {
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.menu-list a:hover {
    color: #989595;
}
