.main-content {
  background-image: url(../../assets/greyBackground.png);
  background-size: 100%;
}

.banner {
  width: 100%;
  padding-bottom: 60px;
}

.product-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.product-container {
  background-image: url(../../assets/productSection.png);
  background-size: cover;
  width: 40%;
  height: 400px;
  border-radius: 30px;
  display: flex;
  padding-left: 70px;
  align-items: center;
}

.product-tag {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 25px;

  text-decoration: none;
  max-width: 130px;
}

.trainer-section {
  display: flex;
  justify-content: center;
}

.trainer-container {
  background-image: url(../../assets/PTSection.png);
  background-size: cover;
  width: 40%;
  height: 400px;
  border-radius: 30px;
  display: flex;
  padding-left: 70px;
  align-items: center;
  margin-bottom: 50px;

}

.trainer-tag {
  background-color: #3d3b3b;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  max-width: 130px;
}

.trainer-tag:hover,
.product-tag:hover {
  background-color: #830000;
  font-weight: bold;
}
