.category {
    border: 2px solid;
    border-color: black;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-name {
    background-color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: rgb(62, 91, 91);
}

.category-nav {
    display: flex;
    background-color: white;
    font-weight: bolder;
    padding-top: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
}
  
.category-item {
    text-align: center;
    background-color: white;
    width: 100px;
    font-weight: bolder;
    border: none;
}

.category-item:hover {
    cursor: pointer;
    text-decoration: underline;
}
  
.category-icon {
    width: 60px;
    height: 60px;
    background: #f5f5f5;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.category-name {
    font-size: 12px;
    background-color: white;
}