.nav_bar {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
    height: 100px;
  }
  
  
  .logo {
    max-width: 20%;
    height: auto; /* Đảm bảo giữ đúng tỷ lệ */
    margin-left: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-left: 260px;
  }
  
  .nav-links li {
    margin-left: 60px;
  }
  
  .nav-links a {
    color: rgb(8, 6, 6);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bolder;
  }
  
  .nav-links a:hover {
    color: #989595;
  }
  
  .icon {
    display: flex;
    margin-left: 60px;
  }
  
  .icon img {
    margin-top: 15px;
    background-color: white;
    width: 50%;
    height: auto; /* Đảm bảo giữ đúng tỷ lệ */
  }
