body {
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content .content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar {
    position: absolute;
    left: 34px;
    top: 198px;
    width: 414px;
    height: 774px;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1;
  }
  
  .menu-sidebar {
    width: 414px;
    height: 257px;
    background-color: #f2ecec;
    border: 1px solid #000000;
    border-radius: 8px;
    position: absolute;
    top: 198px;
    left: 34px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .profile-picture {
    position: absolute;
    left: 58px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .user-mail {
    position: absolute;
    left: 58px;
    top: 155px;
    font-size: 13px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: lighter;
  }
  
  
  .user-mail h2 {
    margin: 2px 0;
    font-weight: lighter;
  }
  
  .menu-items {
    position: absolute;
    left: 50px;
    top: 350px;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  
  .menu-items li{
    margin-bottom: 20px;
  }
  
  .menu-items a {
    padding: 0;
    text-align: left;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 50px;
    text-decoration: none;
  }
  
  .menu-items a:hover {
    color: #989595;
}
  
  .account-info {
    width: 70%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
  }
  
  .account-info h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .change-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .change-button:hover {
    background-color: #830000;
  }
  
  .sidebar-info {
    position: absolute;
    left: 506px;
    top: 198px;
    width: 841px;
    background-color: white;
    border: 1px solid #000000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .sidebar-info h2 {
    font-size: 35px;
    font-weight: 600;
    color: #333;
  }
  
  .sidebar-info .input-field {
    margin-top: 10px;
  }
  
  .sidebar-info .input-field label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .sidebar-info .input-field input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .sidebar-info .input-row {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  
  .sidebar-info .input-row .input-field {
    flex: 1;
  }
  
  .sidebar-info .input-field button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
  }
  
  .sidebar-info .input-field button:hover {
    background-color: #555;
  }
  
